body {
  background-color: white;
}

header {
  height: 50px;
  border: salmon solid 3px;
  display: flex;
  justify-content: space-around;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid seagreen;
}

.products {
  border: 2px solid salmon;
  margin: 10px;
}

.products img {
  width: 220px;
  height: 350px;
  object-fit: cover;
}

.article {
}

.details {
}

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
