body {
  background-color: white;
}

.logo {
  height: 100px;
}

.header {
  height: 130px;
  display: flex;
  justify-content: space-around;
  /* border: blue solid 3px; */
}

.block {
  display: flex;
}
.block input {
  height: 30px;
  border: none;
  background-color: #f5f6f7;
}

.tri {
  display: flex;
}

.link-inscription,
.link-connexion {
  padding: 20px;
  border-radius: 10px;
  border: #2db0ba solid 1px;
  margin: 40px 10px;
  /* color: #2db0ba;
  text-decoration: none; */
}

.link-vente {
  padding: 20px;
  border-radius: 10px;
  border: 1px;
  background-color: #2db0ba;
  margin: 40px 20px;
  color: white;
}

.imgHeader {
  height: 440px;
  width: 1420px;
  object-fit: cover;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 3px solid seagreen; */
}

.products {
  /* border: 2px solid salmon; */
  margin: 10px;
}

.products img {
  width: 220px;
  height: 350px;
  object-fit: cover;
  margin-top: 20px;
}

.article {
  background-color: #eaedee;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.details {
  width: 350px;
  height: 430px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connexion input {
  border: none;
  border-bottom: orange solid 1px;
}
.formulaire input {
  border: none;
  border-bottom: orange solid 1px;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
}

.bouton-inscription,
.bouton-seconnecter,
.sedeconnecter,
.bouton-achat {
  padding: 20px;
  border-radius: 10px;
  border: 1px;
  background-color: #2db0ba;
  color: white;
  margin: 40px 20px;
}
